spring:
  application:
    name: library-service

  datasource:
    url: jdbc:postgresql://localhost:5432/music_db
    username: postgres
    password: verystrongpassword
    driver-class-name: org.postgresql.Driver
    initialization-mode: always
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: 8082